.mr-sm-2{
	margin-left:-1%;
	
	
}


.fa-user-circle {
	color: pink;

}


.texto-sobre h2{

	font-family: 'Noticia Text', serif;
	font-size: 2.0cm;
	color: purple;
	padding-top: 50px;
	text-align: center;
}

.texto-sobre p{

	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	color: white;
}

.direita{
	width: 45%;
	font-family: 'BenchNine', sans-serif;

}


.esquerda {
	font-family: 'BenchNine', sans-serif;

	width: 45%;
	float: right;

	margin-top: -39%;

}

.esquerda iframe{
	margin-top: 6%;
}

.rodape{
	margin-top: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.navbar-topo img{
	width:150px;
	height:150px;
}

i#login-cadastroUsuario {
	color:white;
	padding-top: 40px;
	padding-left: 755px;
}

i#carrinho-de-compras{
    color:white;
    margin-left: 30px;
    padding: 40px;
}

.rodape h6{
	padding-top: 3%;
}
footer div div a i{
	align-items: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	}

body {
		color: #000;
		font: 12px Verdana, sans-serif;
		}

#conteudo {
		width: 70%;
		float: right;
		text-align: center;
		}

#menu {
		width: 30%;
		margin: 0; padding: 0;
		float: left;
		}

#menu ul li {
		margin: 0; padding: 0px;
		border-bottom: 1px solid #CCC;
		text-align: left;
		list-style-type: none;
		}

#menu a:link {
		background: pink;
		color: #666;
		font-weight: bold;
		text-decoration: none;
		padding: 8px;
		display: block;
		}

#menu a:hover {
		background: #E5F0FF;
		color: #039;
		}



.menu-topo img{
	width:150px;
	height:150px;
}


#isearch{
	width: 793px;
	margin-left: 1px; 
	height: 45px;
}

.menu_lateral button{
	border-radius: 10px 0 0 10px;
	width: 200px;
	}

.dropdown-menu{
 	position: absolute;
 	transform: translate3d(0px, 40px, 0px);
 	top: 0px;
    left: 0px;
    will-change: transform;
 }

 .menu-topo i{
	color:white;
	margin-left: 700px;
	padding: 10px;
}
.navbar-nav button{
	width: 100px;
	padding-top: 40px;

}

#games img{
	width: 1000px;
	height: 550px;
	margin-left: 20px;
}

